<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Pioneers</h1>
      <%= @message %>
      <p>
        Last weeks average pull request lead time was <%= @last_week_stats[0] %> days
      </p>
      <p>
        The previous weeks average pull request lead time was <%= @two_weeks_ago_stats[0] %> days
      </p>
      <p>
        Last weeks max pull request lead time was <%= @last_week_stats[1] %> days
      </p>
      <p>
        The previous weeks max pull request lead time was <%= @two_weeks_ago_stats[1] %> days
      </p>
      <p>
        Last weeks min pull request lead time was <%= @last_week_stats[2] %> days
      </p>
      <p>
        The previous weeks min pull request lead time was <%= @two_weeks_ago_stats[2] %> days
      </p>

  </body>
</html>
